# Ignore LaTeX build files
*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.lof
*.lot
*.thm
*.dvi
*.tmp
*.swp
*.synctex
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.idx
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc*
*.out
*.ptc
*.run.xml
*.spl
*.tex.backup
*.tdo
*.thm
*.upa
*.upb
*.vrb
*.bcf
*.run.xml
*.synctex(busy)
